name: PR validation

on:
  pull_request:

jobs:
  check:
    name: Lint, Types & Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Linter
        run: pnpm lint

      - name: Types
        run: pnpm lint:types

      - name: Unit tests
        run: pnpm test

      - name: Security
        run: pnpm audit
